//Footer
footer.footer.has-text-white
    .content.has-text-centered
        .columns.is-multiline
            .column.is-one-third
                p
                    i.fas.fa-phone
                    |  電話：07-746-3150
            .column.is-one-third
                p
                    i.fas.fa-map-marker-alt
                    |  地址：83067 高雄市鳳山區光復路二段130號
            .column.is-one-third
                p Designed by Sz-Wei Chen
//Footer