doctype
html(lang="zh-Hant-TW")
    head
        //General
        include ../sub/general
        //CSS
        link(href="css/index.css" rel="stylesheet")
        //JavaScript
        script(src="js/index.js")
    body
        include ../sub/menu
        section.hero.is-warning.is-hero-with-navbar#his_staff
            .hero-body
                .container.has-text-centered
                    p.title.is-2.has-text-white 歷屆理監事
                    p.subtitle.is-4.has-text-white 第一屆～第三屆
        section.hero.is-fullheight-with-navbar.is-white#his_staff_3
            .hero-body
                .container
                    .columns
                        .column.has-text-centered
                            p.title 第三屆理監事(現任)
                    .columns.is-multiline
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 理事長：
                                            | 張萬邦
                                    li
                                        p
                                            b 副理事長：
                                            | 丁澈士
                                    li
                                        p
                                            b 副理事長：
                                            | 張文舉
                                    li
                                        p
                                            b 副理事長：
                                            | 楊欽富
                                    li
                                        p
                                            b 榮譽理事長：
                                            | 龔皇光
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 常務理事：
                                            | 鄭永周
                                    li
                                        p
                                            b 常務理事：
                                            | 陳耀文
                                    li
                                        p
                                            b 常務理事：
                                            | 吳任偉
                                    li
                                        p
                                            b 理事：
                                            | 鄭利榮
                                    li
                                        p
                                            b 理事：
                                            | 劉世鐘
                                    li
                                        p
                                            b 理事：
                                            | 龔天發
                                    li
                                        p
                                            b 理事：
                                            | 曾榮豐
                                    li
                                        p
                                            b 理事：
                                            | 齊振宇
                                    li
                                        p
                                            b 理事：
                                            | 黃子珉
                                    li
                                        p
                                            b 理事：
                                            | 郭國祥
                                    li
                                        p
                                            b 理事：
                                            | 簡正文
                                    li
                                        p
                                            b 理事：
                                            | 蔡逸群
                                    li
                                        p
                                            b 理事：
                                            | 周書楷
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 常務監事：
                                            | 葉仲原
                                    li
                                        p
                                            b 監事：
                                            | 石儒居
                                    li
                                        p
                                            b 監事：
                                            | 蔡東翰
                                    li
                                        p
                                            b 監事：
                                            | 王銀來
                                    li
                                        p
                                            b 監事：
                                            | 蔡展維
                                    li
                                        p
                                            b 監事：
                                            | 薛如倩
                                    li
                                        p
                                            b 監事：
                                            | 蔡昆奮
        section.hero.is-fullheight-with-navbar.is-light#his_staff_2
            .hero-body
                .container
                    .columns
                        .column.has-text-centered
                            p.title 第二屆理監事
                    .columns.is-multiline
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 理事長：
                                            | 龔皇光
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 常務理事：
                                            | 張萬邦
                                    li
                                        p
                                            b 常務理事：
                                            | 丁澈士
                                    li
                                        p
                                            b 常務理事：
                                            | 張文舉
                                    li
                                        p
                                            b 常務理事：
                                            | 郭清寶
                                    li
                                        p
                                            b 理事：
                                            | 王親政
                                    li
                                        p
                                            b 理事：
                                            | 黃隆正
                                    li
                                        p
                                            b 理事：
                                            | 陳明智
                                    li
                                        p
                                            b 理事：
                                            | 劉世鐘
                                    li
                                        p
                                            b 理事：
                                            | 龔天發
                                    li
                                        p
                                            b 理事：
                                            | 黃一祥
                                    li
                                        p
                                            b 理事：
                                            | 陳耀文
                                    li
                                        p
                                            b 理事：
                                            | 簡正文
                                    li
                                        p
                                            b 理事：
                                            | 郭國祥
                                    li
                                        p
                                            b 理事：
                                            | 吳任偉
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 常務監事：
                                            | 陳清和
                                    li
                                        p
                                            b 監事：
                                            | 邱曜振
                                    li
                                        p
                                            b 監事：
                                            | 鄭利榮
                                    li
                                        p
                                            b 監事：
                                            | 蔡易達
                                    li
                                        p
                                            b 監事：
                                            | 蔡昆奮
        section.hero.is-fullheight-with-navbar.is-white#his_staff_1
            .hero-body
                .container
                    .columns
                        .column.has-text-centered
                            p.title 第一屆理監事
                    .columns.is-multiline
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 理事長：
                                            | 龔皇光
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 常務理事：
                                            | 張萬邦
                                    li
                                        p
                                            b 常務理事：
                                            | 丁澈士
                                    li
                                        p
                                            b 常務理事：
                                            | 龔天發
                                    li
                                        p
                                            b 常務理事：
                                            | 蔡易達
                                    li
                                        p
                                            b 理事：
                                            | 王親政
                                    li
                                        p
                                            b 理事：
                                            | 黃隆正
                                    li
                                        p
                                            b 理事：
                                            | 金桐
                                    li
                                        p
                                            b 理事：
                                            | 陳明智
                                    li
                                        p
                                            b 理事：
                                            | 劉世鐘
                                    li
                                        p
                                            b 理事：
                                            | 張文舉
                                    li
                                        p
                                            b 理事：
                                            | 黃一祥
                                    li
                                        p
                                            b 理事：
                                            | 郭清寶
                                    li
                                        p
                                            b 理事：
                                            | 朱英吉
                                    li
                                        p
                                            b 理事：
                                            | 辛偉呈
                        .column.is-one-third
                            .content
                                ul
                                    li
                                        p
                                            b 常務監事：
                                            | 葉仲原
                                    li
                                        p
                                            b 監事：
                                            | 石儒居
                                    li
                                        p
                                            b 監事：
                                            | 蔡東翰
                                    li
                                        p
                                            b 監事：
                                            | 王銀來
                                    li
                                        p
                                            b 監事：
                                            | 蔡展維
                                    li
                                        p
                                            b 監事：
                                            | 薛如倩
                                    li
                                        p
                                            b 監事：
                                            | 蔡昆奮


        include ../sub/footer